<!-- BEGIN SIDEBAR -->
<div class="page-sidebar nav-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <ul class="page-sidebar-menu">
        <li>
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            <div class="sidebar-toggler hidden-phone"></div>
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        </li>
        <li>
            <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
            <form class="sidebar-search">
                <div class="input-box">
                    <a href="javascript:;" class="remove"></a>
                    <input type="text" placeholder="Search..." />
                    <input type="button" class="submit" value=" " />
                </div>
            </form>
            <!-- END RESPONSIVE QUICK SEARCH FORM -->
        </li>
        <li class="start active ">
            <a href="index.ejs">
                <i class="icon-home"></i>
                <span class="title">首页</span>
                <span class="selected"></span>
            </a>
        </li>
        <li class="">
            <a href="javascript:;">
                <i class="icon-cogs"></i>
                <span class="title">图片上传</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li >
                    <a href="/api/images/upload">
                        图片上传</a>
                </li>
            </ul>
        </li>
        <li class="">
            <a href="javascript:;">
                <i class="icon-bookmark-empty"></i>
                <span class="title">图片管理</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li >
                    <a href="/api/images/listImage">
                        图片列表</a>
                </li>
            </ul>
        </li>
        <li class="">
            <a href="#">
                <i class="icon-table"></i>
                <span class="title">内容管理</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li >
                    <a href="/api/article/listArticle">
                        文字列表</a>
                </li>
                <li >
                    <a href="/api/article/addArticle">
                        新增文字</a>
                </li>
            </ul>
        </li>
        <li class="">
            <a href="javascript:;">
                <i class="icon-briefcase"></i>
                <span class="title">图文管理</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li >
                    <a href="/api/main/listMain">
                        <i class="icon-time"></i>
                        图文列表</a>
                </li>
                <li >
                    <a href="/api/main/addMain">
                        <i class="icon-cogs"></i>
                        图文设置</a>
                </li>
            </ul>
        </li>
        <li class="">
            <a href="javascript:;">
                <i class="icon-briefcase"></i>
                <span class="title">企业实力</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li >
                    <a href="/api/main/listMain">
                        <i class="icon-time"></i>
                        图文列表</a>
                </li>
                <li >
                    <a href="/api/main/addMain">
                        <i class="icon-cogs"></i>
                        图文设置</a>
                </li>
            </ul>
        </li>
        <li class="">
            <a href="javascript:;">
                <i class="icon-briefcase"></i>
                <span class="title">产品中心</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li >
                    <a href="/api/main/listMain">
                        <i class="icon-time"></i>
                        图文列表</a>
                </li>
                <li >
                    <a href="/api/main/addMain">
                        <i class="icon-cogs"></i>
                        图文设置</a>
                </li>
            </ul>
        </li>
        <li class="">
            <a href="javascript:;">
                <i class="icon-briefcase"></i>
                <span class="title">首页管理</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li >
                    <a href="/api/list/home">
                        <i class="icon-time"></i>
                        首页列表</a>
                </li>
                <li >
                    <a href="/api/main/addMain">
                        <i class="icon-cogs"></i>
                        首页排版</a>
                </li>
            </ul>
        </li>
        <li class="">
            <a href="javascript:;">
                <i class="icon-briefcase"></i>
                <span class="title">企业实力</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li >
                    <a href="/api/list/introduction">
                        <i class="icon-time"></i>
                        实力列表</a>
                </li>
                <li >
                    <a href="/api/main/addMain">
                        <i class="icon-cogs"></i>
                        实力设置</a>
                </li>
            </ul>
        </li>
        <li class="">
            <a href="javascript:;">
                <i class="icon-briefcase"></i>
                <span class="title">产品中心</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li >
                    <a href="/api/list/center">
                        <i class="icon-time"></i>
                        流程列表</a>
                </li>
                <li >
                    <a href="/api/main/add">
                        <i class="icon-cogs"></i>
                        流程设置</a>
                </li>
            </ul>
        </li>
        <li class="">
            <a href="javascript:;">
                <i class="icon-briefcase"></i>
                <span class="title">企业动态</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li >
                    <a href="/api/list/cultural">
                        <i class="icon-time"></i>
                        流程列表</a>
                </li>
                <li >
                    <a href="/api/main/add">
                        <i class="icon-cogs"></i>
                        流程设置</a>
                </li>
            </ul>
        </li>
        <li class="">
            <a href="javascript:;">
                <i class="icon-briefcase"></i>
                <span class="title">生产流程</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li >
                    <a href="/api/list/product">
                        <i class="icon-time"></i>
                        流程列表</a>
                </li>
                <li >
                    <a href="/api/main/add">
                        <i class="icon-cogs"></i>
                        流程设置</a>
                </li>
            </ul>
        </li>
        <li class="">
            <a href="javascript:;">
                <i class="icon-briefcase"></i>
                <span class="title">客户留言</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li >
                    <a href="/api/main/listMain">
                        <i class="icon-time"></i>
                        留言列表</a>
                </li>
            </ul>
        </li>
        <li class="">
            <a href="javascript:;">
                <i class="icon-user"></i>
                <span class="title">用户中心</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li >
                    <a href="/api/users">
                        个人中心</a>
                </li>
                <li >
                    <a href="/api/users/addUser">
                        新增</a>
                </li>
            </ul>
        </li>
        <li class="last ">
            <a href="/api/index">
                <i class="icon-bar-chart"></i>
                <span class="title">暂时无开发</span>
            </a>
        </li>
    </ul>
    <!-- END SIDEBAR MENU -->
</div>
<!-- END SIDEBAR -->